
/*
https://github.com/squidfunk/mkdocs-material/discussions/2951
Commenting these to be a guide for when i want to

 Light mode 
[data-md-color-scheme="default"] {
    background-image: url('https://github.com/SpyNetGirl/spynetgirl.github.io/raw/main/images/Windows6545%20(1).png');
}

 Dark mode 
[data-md-color-scheme="slate"] {
    --md-default-bg-color: blue;
}


This is how i can target a specific element in a specific light/dark theme

[data-md-color-scheme="default"] .md-nav--primary .md-nav__list label.md-nav__link{
    background-color:#3fecf2 !important;
   }

*/

